{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}

{% for program in programs %}


        <div>
            <h2>{{ program.id }} / {{ program.title }} - Catégorie : {{ program.category.name }}</h2>
            <p>{{ program.summary }}</p>
            {# Lien vers la fiche de la série : #}
            <a href="{{ path("program_show", { id: program.id }) }}">Voir la fiche</a>
        </div>
        {% endfor %}


    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>

{% endblock %}
